<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/static/StyleSheet.css" />
</head>
<body>
    <nav class="navbar">
        <div class="container">
           
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <img src="/images/college_logo.png" class="logo" width="50" height="50" />
                
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-action="Index">Home</a></li>
                    <li><a asp-action="ViewFaculty">Faculty</a></li>
                    <li><a asp-action="ViewCourse">Course</a></li>
                    <li><a asp-action="AddFaculty">Add Faculty</a></li>
                    <li><a asp-action="AddCourse">Add Course</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
    
    <script type="text/javascript" src="~/static/JavaScript.js"></script>

    <footer>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-controller="Home" asp-action="Contact">Contact Us</a></li>
            </ul>
            <p>Copyright TeginderPalD_301093892</p>
        
        </div>

    </footer>
</body>
</html>
