
    @{
        ViewBag.Title = "Contact Us";
        Layout = "_BasicLayout";
    }

<h2>Contact Us</h2>
<address>
    P.O. Box 631 Station A<br />
    Toronto, ON, M1K 5E9<br />
    <abbr title="Phone">Ph:</abbr>
    416.289.5000
</address>
