@model TeginderpalD_301093892.Models.Faculty

@{
    ViewBag.Title = "Faculty Added";
    Layout = "_BasicLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Faculty ADDED</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body class="text-center">
    <p>
        <h2>Professer @Model.FacultyName Added</h2>

    </p>
    <p> <a class="nav-link" asp-action="ViewFaculty">Click here to view Faculty List</a></p>
   
</body>
</html>
