@{
    ViewBag.Title = "Home Page";
}


    <div class="text-center">
        <h1>Welcome to Centennial College</h1>
        <p><a href="https://www.centennialcollege.ca/">Get a Head Start at Centennial</a></p>
    </div>
